.txtMatricula
{
	width: 200px;
}
.txtNome
{
	width: 500px;
}
.txtDataNascimento
{
	width: 100px;
}
.txtCPF
{
	width: 200px;
}

.txtTitulacao
{
	width: 500px;
}

.txtInstituicao
{
	width: 500px;
}

.lblTitulo
{
	margin-left:20px;
}
.txtTitulo
{
	margin-left:30px;
	width: 350px;
}

.lblDataPublicacao
{
	margin-left:20px;
}

.txtDataPublicacao
{
	margin-left:30px;
	width: 80px;
}

.btnNovo
{
	width: 100px;
}

.btnSalvar
{
	width: 100px;
}

.btnExcluir
{
	width: 100px;
}
.btnGravarOriendaor
{
	margin-left:7px;
	width: 200px;
}
.linkNovoOrientador
{
	margin-left:10px;
}
.btnGravarAluno
{
	margin-left:7px;
	width: 200px;
}
.linkNovoAluno
{
	margin-left:10px;
}
.lblOrientador
{
	margin-left:7px;
}
.slOrientador
{
	margin-left:19px;
	width: 300px;
}
.lblAluno
{
	margin-left:7px;
}
.slAluno
{
	margin-left:19px;
	width: 300px;
}
.slTitulacao
{
	width: 300px;
}
.lblTipo
{
	margin-left:20px;
}
.slTipo
{
	margin-left:30px;
	width: 353px;
}





#menu ul {
	padding:0px;
	margin:0px;
	float: left;
	width: 100%;
	background-color:#EDEDED;
	list-style:none;
}

#menu ul { display: inline; }

.linkAluno { display: inline; }
.linkOrientador { display: inline; }
.linkCurso{ display: inline; }
.linkPublicacao{ display: inline; }
.linkPesquisa  { display: inline; }

#menu ul  {
	padding: 2px 10px;
	float:left;
	/* visual do link */
	background-color:#EDEDED;
	color: #333;
	text-decoration: none;
	border-bottom:3px solid #EDEDED;
}

.linkAluno  {
	padding: 2px 10px;
	float:left;
	/* visual do link */
	background-color:#EDEDED;
	color: #333;
	text-decoration: none;
	border-bottom:3px solid #EDEDED;
}

.linkOrientador {
	padding: 2px 10px;
	float:left;
	/* visual do link */
	background-color:#EDEDED;
	color: #333;
	text-decoration: none;
	border-bottom:3px solid #EDEDED;
}

.linkCurso  {
	padding: 2px 10px;
	float:left;
	/* visual do link */
	background-color:#EDEDED;
	color: #333;
	text-decoration: none;
	border-bottom:3px solid #EDEDED;
}

.linkPublicacao {
	padding: 2px 10px;
	float:left;
	/* visual do link */
	background-color:#EDEDED;
	color: #333;
	text-decoration: none;
	border-bottom:3px solid #EDEDED;
}

.linkPesquisa  {
	padding: 2px 10px;
	float:left;
	/* visual do link */
	background-color:#EDEDED;
	color: #333;
	text-decoration: none;
	border-bottom:3px solid #EDEDED;
}

#menu ul   {
	background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:3px solid #EA0000;
}

.linkAluno   {
	background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:3px solid #EA0000;
}

.linkOrientador {
	background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:3px solid #EA0000;
}

.linkCurso   {
	background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:3px solid #EA0000;
}

.linkPublicacao   {
	background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:3px solid #EA0000;
}

.linkPesquisa  {
	background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:3px solid #EA0000;
}