
body {
	margin: 0;
	padding: 0;
	background: #F6F6F6;
	font-size: 13px;
	text-align: justify;
}

body, th, td, input, textarea, select, option {
	font-family: Arial, Helvetica, sans-serif;
	color: #83826A;
}

h1, h2, h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #666666;
}

h1 {
	letter-spacing: -2px;
	font-size: 3em;
}

h2 {
	letter-spacing: -1px;
	font-size: 2.5em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	line-height: 200%;
}

blockquote {
	margin: 15px 0px;
 	padding: 5px 7px 5px 40px;  	
    font-weight: normal;
	font-size: 17px;
	line-height: 1.6em;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;		
	color: #66A342;
}

blockquote p, blockquote ul, blockquote ol {
	line-height: normal;
	font-style: italic;
}

a {
	color: #34BA01;
}

a:hover {
	color: #34BA01;
}

hr {
	display: none;
}

/* Header */

#header {
	width: 920px;
	height: 100px;
	margin: 0 auto;
}

#header h1, #header p {
	margin: 0;
	padding: 0;
}

#header h1 {
	font-size: 52px;
	color: #20A001;
}

#header p {
	margin-top: -15px;
	padding: 0px 0px 0px 4px;
	font-size: 20px;
	font-weight: normal;
	color: #86EA66;
	text-transform: lowercase;
}

#header a {
	text-decoration: none;
	color: #F79F1A;
}

/* Page */

#page {
	width: 980px;
	margin: 0 auto;
	padding: 0px;
	background: url(../img/img02.jpg) repeat-y left top;
}

#page-bgtop {
	background: url(../img/img01.jpg) no-repeat left top;
	margin: 0px;
	padding: 0px;
}

#page-bgbtm {
	background: url(../img/img03.jpg) no-repeat left bottom;
	padding: 30px 40px 30px 30px;
}

/* Content */

#content {
	float: right;
	width: 660px;
	margin: 0;
	padding-top: 30px;
	color: #666666;
}

.post {
	padding: 0px 0 20px 0;
}

.title {
	margin: 0px;
	padding-bottom: 25px;
	background: url(../img/img05.jpg) repeat-x left bottom;
}

.title a {
	text-decoration: none;
	color: #66A342;
}

.pagetitle {
}

.byline {
	margin-top: -25px;
	padding: 0px;
	color: #66A342;
}

.meta {
	margin-right: 20px;
}

.meta .more {
	display: block;
	width: 120px;
	height: 26px;
	padding: 2px 0px 0px 0px;
	background: url(../img/img06.jpg) no-repeat left top;
	text-align: center;
}

.meta .comments {
	float: left;
	width: 120px;
	height: 26px;
	padding: 2px 0px 0px 0px;
	background: url(../img/img06.jpg) no-repeat left top;
	text-align: center;
}

.meta a {
	text-decoration: none;
	color: #787872;
}

.navigation {
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.posts {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

.posts li {
}

.posts h3 {
	margin: 0;
	font-weight: bold;
}

.posts p {
	margin: 0;
	line-height: normal;
}

.posts a {
}

.entry {
	margin: 0;
	padding-bottom: 20px;
}

.last {
	border: none;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 200px;
	margin-bottom: 10px;
	color: #FFFFFF;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin-bottom: 40px;
	padding: 0px 15px;
}

#sidebar li li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	line-height: 35px;
	border-bottom: 1px #A3F389 dashed;
}

#sidebar h2 {
	width: 185px;
	height: 32px;
	padding: 6px 0px 0px 15px;
	background: url(../img/img04.jpg) no-repeat left top;
	font-size: 18px;
	color: #FFFFFF;
}

#sidebar a {
	text-decoration: none;
	color: #FFFFFF;
}

#sidebar a:hover {
	text-decoration: none;
}

/* Search */

#search input {
	display: none;
}

#search input#s {
	display: block;
	width: 230px;
	padding: 2px 5px;
	border: 1px solid #3DD1FF;
}

#search br {
	display: none;
}

/* Calendar */

#calendar {
}

#calendar h2 {
	margin-bottom: 15px;
}

#calendar table {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#calendar caption {
	width: 100%;
	text-align: center;
}

#next {
	text-align: right;
}

#prev {
	text-align: left;
}

/* Footer */

#footer {
	width: 800px;
	margin: 0 auto;
	height: 50px;
	text-align: center;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #86EA66;
	margin-bottom: 27px;
}

#footer p {
	padding-top: 15px;
}

#footer p a {
	color: #86EA66;
}

img { border: none; }

img.left {
	float: left;
	margin: 3px 20px 30px 0px;
}

img.right {
	float: right;
	margin: 3px 0px 10px 30px;
}

/*Outros CSS*/
.txtMatricula
{
	width: 200px;
}
.txtNome
{
	width: 500px;
}
.txtDataNascimento
{
	width: 100px;
}
.txtCPF
{
	width: 200px;
}

.txtTitulacao
{
	width: 500px;
}

.txtInstituicao
{
	width: 500px;
}

.lblTitulo
{
	margin-left:20px;
}
.txtTitulo
{
	margin-left:30px;
	width: 350px;
}

.lblDataPublicacao
{
	margin-left:20px;
}

.txtDataPublicacao
{
	margin-left:30px;
	width: 80px;
}

.btnNovo
{
	width: 100px;
}

.btnSalvar
{
	width: 100px;
}

.btnExcluir
{
	width: 100px;
}
.btnGravarOriendaor
{
	margin-left:7px;
	width: 200px;
}
.linkNovoOrientador
{
	margin-left:10px;
}
.btnGravarAluno
{
	margin-left:7px;
	width: 200px;
}
.linkNovoAluno
{
	margin-left:10px;
}
.lblOrientador
{
	margin-left:7px;
}
.slOrientador
{
	margin-left:19px;
	width: 300px;
}
.lblAluno
{
	margin-left:7px;
}
.slAluno
{
	margin-left:19px;
	width: 300px;
}
.slTitulacao
{
	width: 300px;
}
.lblTipo
{
	margin-left:20px;
}
.slTipo
{
	margin-left:30px;
	width: 353px;
}


